/* rem se baseia no root, no primeiro elemento */

body {
    /* 1 em -> 20px */
    font-size: 20px;
}

h1 {
    font-size: 3em;
}

.box {
    /* 40px */
    font-size: 2em;
}

.box-interno {
    /* 400px */
    width: 10em;
    height: 10em;
    background-color: #999;
}
