:root {
    --bg-color: #000;
    --bg-second: #444;
    /* --font-color: #fff; */
}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--font-color, #0000ff);
}

.container {
    --verde: #00ff00;
    background-color: var(--bg-second);
    color: var(--verde);
}
